{% extends 'base.html' %}

<!--Título-->
{% block title %}Discografia{% endblock %}

<!--Conteúdo-->
{% block content %}

<div class="fundo1">
<!-- Alerta -->
<div class="alert alert-success text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" role="alert">
    Confira a página de discografia do Linkin Park!
</div>

<!--Discografia-->
<div>
 <h1 class="font-weight-light text-center" style="color: rgb(6, 110, 44); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><br>Do Hybrid Theory ao One More Light</h1>
</div>

<!--Hybrid Teory-->
<div>
    
    <div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
            
        <div class="col-lg-5">
            <div class="container mt-3">
                <span class="badge rounded-pill bg-success" style="height: 100%;  font-size: 23px; text-align: center">Rastejando em Hybrid Teory</span>
               </div>
               <p style="width: 100%;">
                "Hybrid Theory", lançado em 2000, é o álbum de estreia do Linkin Park, uma obra que revolucionou o cenário musical ao fundir elementos de rock alternativo, nu metal e rap. Com sua energia intensa e letras emotivas, o álbum cativou uma geração inteira, conquistando uma base de fãs global. A diversidade sonora e a autenticidade das letras permitiram que cada faixa se destacasse individualmente. Os quatro principais hits do álbum, "In the End", "Crawling", "One Step Closer" e "Papercut", tornaram-se hinos instantâneos, marcando a trilha sonora de muitas vidas e solidificando o Linkin Park como uma das bandas mais influentes de sua época. 
            </p>
        </div>
        <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0" src="/static/images/Hybrid Teory.jpeg" alt="..." height="250px" width="250px" /></div>
</div>



<!--Meteora-->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; font-size: 23px; text-align: center">Quebrando o hábito em Meteora</span>
           </div>
        <p style="width: 100%;">
            "Meteora", o segundo álbum de estúdio do Linkin Park, lançado em 2003, é uma continuação poderosa do sucesso de "Hybrid Theory". Combinando habilmente elementos de rock alternativo, nu metal e eletrônica, o álbum apresenta uma jornada emocional através de suas letras introspectivas e melodias intensas. Cada faixa é uma expressão visceral de angústia, conflito e perseverança, capturando a essência da luta humana. "Meteora" solidificou ainda mais o Linkin Park como uma das bandas mais influentes de sua geração, deixando uma marca indelével na cultura musical.Os 4 principais hits do album são Numb, Breaking the Habit, Faint e From the Inside.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/Meteora.jpg" alt="..." height="250px" width="250px"/></div>
</div>




<!-- Minutes to Midnight -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
        <div class="col-lg-5">
            <div class="container mt-3">
                <span class="badge rounded-pill bg-success" style="height: 50px; font-size: 23px; text-align: center">A sombra do dia em Minutes to Midnight</span>
               </div>
            <p style="width: 100%;">
                "Minutes to Midnight", lançado em 2007, marca uma mudança significativa no som do Linkin Park, afastando-se do nu metal e explorando um estilo mais experimental e diversificado. Este álbum marca uma evolução na maturidade musical da banda, apresentando letras mais maduras e temas sociais profundos. A inclusão de instrumentos acústicos e uma abordagem mais melódica mostram a versatilidade do Linkin Park como músicos. Apesar da mudança de direção, "Minutes to Midnight" foi bem recebido pela crítica e pelos fãs, consolidando ainda mais a posição da banda na indústria musical. O álbum continua a ser uma parte importante do legado do Linkin Park, demonstrando sua capacidade de se reinventar e crescer como artistas. Os pricipais hits desse album são What ive done, Given up, Shadow of the day e Bleed it out.
            </p>
        </div>
        <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/Minutes to Midnight.jpg" alt="..." height="250px" width="250px" /></div>
</div>



<!--A Thousand Suns-->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px;font-size: 23px; text-align: center">Queimando nos céus de Thousand Suns</span>
           </div>
        <p style="width: 100%;"></p>
            "Thousand Suns", lançado em 2010, representa uma virada radical na sonoridade do Linkin Park, adotando uma abordagem experimental e conceitual. Inspirado pela possibilidade de uma guerra nuclear, o álbum apresenta uma narrativa distópica que reflete os medos e ansiedades da era moderna. As músicas exploram temas de guerra, política, tecnologia e destruição, criando uma atmosfera sombria e introspectiva. A inclusão de elementos eletrônicos e sintetizadores contribui para a atmosfera futurista do álbum. "Thousand Suns" dividiu opiniões entre os fãs e a crítica, mas é reconhecido como um marco na evolução criativa do Linkin Park, demonstrando sua coragem em experimentar novos territórios musicais. Os principais hits do album são Waiting for the end, The catalyst, Burning in the skies e Iridescent.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/A Thousand Suns.jpg" alt="..." height="250px" width="250px"/></div>
</div>
    


<!--Living Things-->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px;  font-size: 23px; text-align: center">Perdido nos ecos de Living Things</span>
           </div>
        <p style="width: 100%;">
            "Living Things", lançado em 2012, representa uma síntese das diversas influências musicais exploradas pelo Linkin Park ao longo de sua carreira. Este álbum combina elementos de rock alternativo, eletrônica e pop, resultando em uma sonoridade dinâmica e cativante. As letras de "Living Things" exploram temas de relacionamentos, autodescoberta e superação, refletindo a jornada pessoal dos membros da banda. Com uma produção polida e melodias cativantes, o álbum atrai tanto os fãs antigos quanto novos adeptos. "Living Things" é aclamado por sua capacidade de evocar emoções profundas e ressoar com uma ampla audiência.Os principais hits são Burn It Down, Castle of Glass, Lost in the Echo e In my remains.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/Living Things.jpg" alt="..." height="250px" width="250px" /></div>
</div>



<!--The Hunting Party-->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; font-size: 23px; ">Farsa final de Hunting Party</span>
           </div>
        <p style="width: 100%;">
            "The Hunting Party", lançado em 2014, marca um retorno enérgico às raízes do rock agressivo do Linkin Park, após incursões por sonoridades mais experimentais. Este álbum apresenta uma abordagem mais pesada e visceral, com riffs de guitarra robustos e vocais intensos. Inspirado por influências do punk rock e do metal, "The Hunting Party" é uma declaração de autenticidade e paixão pela música. As letras confrontam temas como raiva, alienação e desilusão, refletindo o estado de espírito da banda na época. O álbum foi bem recebido pelos fãs e críticos, elogiado por sua energia crua e retorno ao som característico do Linkin Park. Os principais hits são Guilty All the Same, Until It's Gone, Rebellion, Final Masquerade.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0" src="/static/images/The Hunting Party.jpg" alt="..." height="250px" width="250px"/></div>
</div>






<!--One More Light-->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; font-size: 23px; ">Sinfonias das batalhas de One More Light</span>
           </div>
        <p style="max-width: 100%;"> 
            "One More Light", lançado em 2017, marca um ponto de partida radical na jornada musical do Linkin Park. O álbum se afasta das raízes do rock alternativo da banda, abraçando uma sonoridade mais pop e eletrônica. As letras de "One More Light" exploram temas de perda, vulnerabilidade e esperança, refletindo a sensibilidade emocional dos membros da banda. A inclusão de elementos eletrônicos e melodias mais suaves tornam este álbum um divisor de águas na discografia do Linkin Park. Apesar de algumas críticas, o álbum foi bem recebido pelos fãs, destacando a evolução contínua da banda ao longo dos anos. Os principais hits são Heavy, Talking to Myself, One More Light e Battle Symphony.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0" src="/static/images/One More Light.jpg" alt="..." height="250px" width="250px"/></div>
</div>


<!--modal-->
<div>
    <!-- Botão para acionar o modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" style="background-color: darkgreen; color:white; width: 150px; margin-left: 45%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        Curiosidade
    </button>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color:darkgreen;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Guerra nuclear em músicas eletrônicas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                O álbum "A Thousand Suns" do Linkin Park, lançado em 2010, marcou uma mudança significativa no som da banda. Com uma abordagem experimental, o álbum incorporou amostras de discursos históricos e colaborações com músicos eletrônicos, explorando temas como guerra e tecnologia. Embora tenha sido inicialmente recebido com opiniões mistas, muitos fãs e críticos o consideram uma jornada sonora e artística única e ousada para o Linkin Park.
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-sucess" data-bs-dismiss="modal" style="background-color: darkgreen; color:white;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Fechar</button>
            </div>
        </div>
    </div>
</div>
<br>
</div>
{% endblock %}


















