{% extends 'base.html' %}

<!--Título-->
{% block title %}Resenha{% endblock %}

<!--Conteúdo-->
{% block content %}
<div class="fundo1">
<!--Alerta-->
<div class="alert alert-success text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" role="alert">
    Confira a página de resenha do Linkin Park!
</div>

<!--Resenha-->
<div>
 <h1 class="font-weight-light text-center" style="color: rgb(6, 110, 44); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><br><br>O impacto de Linkin Park na vida dos LPSoldiers</h1>
</div>

<!--Inovação-->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; width: 220px; font-size: 30px; margin-left: 25%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Inovação</span>
           </div>
        <p style="max-width: 100%;">
            A inovação sonora do Linkin Park é emblemática na história da música contemporânea. Desde sua estreia, a banda vem desafiando os limites do rock ao mesclar elementos de diferentes gêneros musicais, como rock alternativo, rap, eletrônica e metal. Seu som distintivo e revolucionário é caracterizado por letras emocionais, arranjos intrincados e uma abordagem experimental única. Ao longo de sua carreira, o Linkin Park continuou a evoluir e a explorar novos territórios musicais, mantendo-se na vanguarda da inovação sonora e inspirando gerações de músicos e ouvintes.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0" style="max-width: 500px;" src="/static/images/Resenha0.jpg" alt="..." /></div>
</div>


<!-- Mensagens e Temas -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; width: 305px; font-size: 23px; margin-left: 25%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Mensagens e Temas</span>
           </div>
        <p style="max-width: 100%;">
            O Linkin Park é reconhecido pelo profundo sentimentalismo presente em suas letras e mensagens. As composições da banda exploram temas universais como dor, perda, isolamento e redenção, ressoando com uma variedade de emoções humanas. Suas letras carregadas de significado e introspecção oferecem conforto e identificação para os ouvintes, muitas vezes refletindo as lutas pessoais dos membros da banda. Ao abordar questões emocionais de forma direta e honesta, o Linkin Park cria uma conexão genuína com seu público, tornando-se uma voz poderosa para aqueles que buscam compreensão e expressão de seus próprios sentimentos.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0"style="max-width: 500px;" src="/static/images/Resenha1.webp" alt="..." /></div>
</div>


<!-- Evolução Musical -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; width: 305px; font-size: 30px; margin-left: 25%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Evolução Musical</span>
           </div>
        <p style="max-width: 100%;">
            A evolução do Linkin Park ao longo de seus sete álbuns é uma jornada fascinante e multifacetada. Desde o sucesso explosivo de "Hybrid Theory" até as experimentações mais recentes de "One More Light", a banda demonstrou uma notável capacidade de se reinventar e explorar novos territórios sonoros. Embora algumas mudanças possam ter dividido opiniões entre os fãs mais tradicionais, é inegável que cada álbum reflete um estágio distinto na evolução artística da banda. Enquanto mantém sua essência emocional e lírica, o Linkin Park abraçou uma variedade de estilos musicais, desde o rock agressivo até a música eletrônica mais suave, demonstrando uma habilidade única de se adaptar e inovar ao longo do tempo. Essa evolução musical, embora desafiadora para alguns, é um testemunho da versatilidade e da visão artística do Linkin Park, solidificando seu lugar como uma das bandas mais influentes da era moderna.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0"style="max-width: 500px;" src="/static/images/Resenha2 (2).jpg" alt="..." /></div>
</div>

<!-- Fandom e Comunidade -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; width: 310px; font-size: 23px; margin-left: 25%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Comunidade de LPSoldiers</span>
           </div>
        <p style="max-width: 100%;">
            A comunidade de fãs do Linkin Park, conhecida como LP Soldiers, é uma força poderosa e unificadora no cenário musical. Composta por indivíduos de todo o mundo, os LP Soldiers compartilham uma paixão ardente pela música da banda e um profundo senso de camaradagem. Esta comunidade não apenas celebra o legado do Linkin Park, mas também serve como um espaço de apoio mútuo, onde os fãs encontram conforto e conexão uns com os outros. Além disso, os LP Soldiers são ativos em causas sociais, seguindo o exemplo da banda em questões como saúde mental e sustentabilidade.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0"style="max-width: 500px;" src="/static/images/resenha3.jpg" alt="..." /></div>
</div>

<!-- Versatilidade -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; width: 305px; font-size: 26px; margin-left: 25%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Versatilidade Musical</span>
           </div>
        <p style="max-width: 100%;">
            A versatilidade musical do Linkin Park é uma das características mais marcantes e impressionantes da banda. Ao longo de sua carreira, eles demonstraram uma habilidade excepcional de transitar entre diferentes estilos e gêneros musicais, mantendo sempre sua identidade única. Desde o rock explosivo de "Hybrid Theory" até as experimentações eletrônicas de "A Thousand Suns", o Linkin Park mostrou uma capacidade incrível de evoluir e inovar. Além disso, sua disposição para colaborar com artistas de diferentes backgrounds e estilos musicais amplifica ainda mais essa versatilidade, resultando em colaborações memoráveis e diversificadas. Esta habilidade de se adaptar e explorar novos territórios musicais não só mantém a banda relevante ao longo do tempo, mas também a estabelece como uma das mais influentes e respeitadas da indústria.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0"style="max-width: 500px;" src="/static/images/resenha4.jpg" alt="..." /></div>
</div>

<!-- Legado -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; width: 340px; font-size: 23px; margin-left: 25%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Legado de Chester Benington</span>
           </div>
        <p style="max-width: 100%;">
            O legado de Chester Bennington, vocalista do Linkin Park, transcende o mundo da música e alcança profundamente os corações de milhões de fãs ao redor do mundo. Sua voz única e poderosa, carregada de emoção e intensidade, deu vida às letras profundamente pessoais da banda, proporcionando uma conexão inigualável com seus ouvintes. Além de suas contribuições musicais, Chester foi um defensor apaixonado da saúde mental, compartilhando abertamente suas próprias lutas e encorajando outros a buscar ajuda. Sua presença carismática e sua entrega apaixonada no palco tornaram-no um ícone do rock moderno. Embora sua trágica morte tenha deixado um vazio irreparável, seu legado perdura através da música e da inspiração que ele deixou para trás, lembrando-nos da importância da autenticidade, da compaixão e da superação pessoal.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0"style="max-width: 500px;" src="/static/images/resenha5.jpg" alt="..." /></div>
</div>

<!--modal-->
<div>
    <!-- Botão para acionar o modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" style="background-color: darkgreen; color:white; width: 150px; margin-left: 45%;">
        Curiosidade
    </button>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color:darkgreen; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Entre críticas e elogios</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                Uma curiosidade interessante sobre a resenha crítica do Linkin Park é que a banda frequentemente despertou reações polarizadas entre críticos musicais. Enquanto alguns elogiavam sua fusão de rock, rap e elementos eletrônicos, bem como suas letras emocionais e cativantes, outros criticavam sua abordagem como excessivamente comercial ou repetitiva. Essa divergência de opiniões reflete a natureza única e muitas vezes controversa do som e da mensagem do Linkin Park, demonstrando como a música pode provocar debates acalorados e diferentes interpretações entre os ouvintes e os críticos.
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-sucess" data-bs-dismiss="modal" style="background-color: darkgreen; color:white" >Fechar</button>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}


































