{% extends 'base.html' %}

<!--Título-->
{% block title %}Trajetória{% endblock %}

<!--Conteúdo de Trajetória-->
{% block content %}
<div class="fundo1">
<!--Alerta-->
<div class="alert alert-success text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" role="alert">
    Confira a página de trajetória do Linkin Park!
</div>

<!--Jornada da banda-->
<div>
 <h1 class="font-weight-light text-center" style="color: darkgreen; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><br>A jornada de uma banda revolucionária</h1>
</div>
<!--Formação da banda-->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
         <span class="badge rounded-pill bg-success" style="height: 50px; width: 305px; font-size: 30px; text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Formação da banda</span>
        </div>
    <p style="width: 100%;">
        A formação da banda Linkin Park remonta ao final dos anos 90, quando os colegas de escola Mike Shinoda, Brad Delson e Rob Bourdon se uniram em sua paixão pela música e formaram um grupo inicialmente chamado Xero. Com o passar do tempo, o grupo evoluiu e adicionou membros como Joe Hahn, Dave "Phoenix" Farrell e Chester Bennington, que mais tarde se tornaria o vocalista principal da banda. A fusão de estilos musicais, incluindo rock, rap e eletrônica, caracterizou o som único do Linkin Park, que rapidamente ganhou destaque na cena musical. O lançamento de seu álbum de estreia "Hybrid Theory" em 2000 catapultou-os para o estrelato internacional, solidificando sua posição como uma das bandas mais influentes da década. A formação diversificada e o talento individual de cada membro contribuíram para o sucesso duradouro do Linkin Park, deixando um legado marcante na história da música.
    </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0"style="max-width: 500px;" src="/static/images/trajetoria0.jpeg" alt="..." width="100%"  /></div>
</div>

<!-- Ascensão -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
        <div class="col-lg-5">
            <div class="container mt-3">
                <span class="badge rounded-pill bg-success" style="height: 50px; width: 305px; font-size: 30px; text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Ascensão à Fama</span>
            </div>
            <p style="width: 100%;">
                A ascensão à fama do Linkin Park foi meteórica e inegável. Desde o lançamento de seu álbum de estreia "Hybrid Theory" em 2000, a banda conquistou os corações dos fãs em todo o mundo com sua fusão única de rock, rap e elementos eletrônicos. Suas letras sinceras e emocionais ressoaram com uma geração, enquanto seu som inovador e enérgico cativava públicos de todas as idades. Singles como "In the End" e "Crawling" dominaram as paradas, garantindo ao Linkin Park um lugar no topo da indústria musical. Através de performances poderosas e uma presença de palco magnética, a banda solidificou sua reputação como uma das mais influentes de sua época, tornando-se ícones do rock moderno. Mesmo com o sucesso, o Linkin Park manteve uma conexão genuína com seus fãs, tornando-se uma força duradoura na cultura pop e deixando um legado indelével na história da música.
            </p>
        </div>
        <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0"style="max-width: 500px;" src="/static/images/trajetoria1.jpg" alt="..." /></div>
</div>
    
<!-- Inovação -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; width: 305px; font-size: 30px; text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Inovação Sonora</span>
           </div>
           <p style="width: 100%;">
            A inovação sonora é uma marca registrada do Linkin Park, e isso é evidente em álbuns como "Minutes to Midnight". Lançado em 2007, este álbum marcou uma mudança significativa no som da banda, explorando novas direções musicais e líricas. Em "Minutes to Midnight", o Linkin Park incorporou uma variedade de elementos, desde guitarras mais pesadas até arranjos mais sutis e melódicos. Faixas como "What I've Done" e "Bleed It Out" demonstram essa diversidade, enquanto mantêm a intensidade característica da banda. Com este álbum, o Linkin Park mostrou sua capacidade de evoluir e se adaptar, mantendo-se relevante e inovador em um cenário musical em constante mudança. Essa experimentação sonora não apenas ampliou os horizontes do próprio Linkin Park, mas também influenciou muitas outras bandas e artistas a explorar novas possibilidades em suas próprias música
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0"style="max-width: 500px;" src="/static/images/trajetoria2.png" alt="..." /></div>
</div>

<!-- Parcerias -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; width: 305px; font-size: 23px; text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Parcerias e Colaboraçoes</span>
           </div>
           <p style="width: 100%;">
            As parcerias e colaborações do Linkin Park são uma parte integral de sua história musical. A banda sempre esteve aberta a trabalhar com outros artistas, resultando em colaborações memoráveis e diversas. Desde a colaboração com Jay-Z em "Collision Course", um álbum que fundiu o rap de Jay-Z com o rock do Linkin Park, até parcerias com artistas como Steve Aoki e Kiiara, a banda mostrou uma versatilidade impressionante em seu trabalho colaborativo. Essas parcerias não apenas enriqueceram o catálogo musical do Linkin Park, mas também demonstraram sua capacidade de se adaptar a diferentes estilos e gêneros musicais. Além disso, essas colaborações destacam a influência e o alcance global da banda, unindo artistas de diferentes origens em projetos inovadores e emocionantes.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0"style="max-width: 500px;" src="/static/images/trajetoria3.jpg" alt="..." /></div>
</div>

<!-- Engajamento -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; width: 305px; font-size: 30px; text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Engajamento Social</span>
           </div>
           <p style="width: 100%;">
            O engajamento social do Linkin Park é uma faceta essencial de sua identidade como banda. Ao longo dos anos, eles demonstraram um compromisso contínuo com questões importantes, como saúde mental, conservação do meio ambiente e apoio às comunidades em situações de crise. Através de sua fundação, Music for Relief, o Linkin Park liderou esforços humanitários em todo o mundo, respondendo a desastres naturais e apoiando projetos de sustentabilidade. Além disso, a banda foi uma voz ativa na conscientização sobre saúde mental, usando sua plataforma para desestigmatizar problemas como depressão e ansiedade. Seu engajamento social vai além das palavras, com ações concretas e programas de apoio que têm um impacto positivo tangível nas vidas das pessoas. Essa dedicação ao serviço comunitário solidifica ainda mais o legado do Linkin Park como mais do que apenas uma banda, mas como agentes de mudança e embaixadores do bem social.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0"style="max-width: 500px;" src="/static/images/trajetoria4.avif" alt="..." /></div>
</div>


<!-- Legado -->
<div class="row gx-4 gx-lg-5 align-items-center justify-content-center py-3 container-fluid" style="margin-top: 100px;">
    <div class="col-lg-5">
        <div class="container mt-3">
            <span class="badge rounded-pill bg-success" style="height: 50px; width: 305px; font-size: 30px; text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Legado</span>
           </div>
           <p style="width: 100%;">
            O legado do Linkin Park é profundo e duradouro, deixando uma marca indelével na história da música. Ao longo de sua carreira, a banda influenciou gerações com sua música inovadora e letras sinceras, abordando temas universais como dor, superação e identidade. Seu som único, que funde rock, rap e elementos eletrônicos, definiu uma era e inspirou inúmeras outras bandas e artistas. Além disso, o compromisso do Linkin Park com questões sociais, como saúde mental e sustentabilidade, elevou sua influência além do mundo da música. Mesmo após a trágica perda de seu vocalista, Chester Bennington, em 2017, o legado da banda permanece vivo, continuando a tocar e inspirar milhões de fãs em todo o mundo. O Linkin Park não é apenas uma banda, mas um símbolo de resiliência, autenticidade e impacto positivo, deixando para trás um legado que transcende o tempo e ressoa na alma de seus ouvintes.
        </p>
    </div>
    <div class="col-lg-5"><img class="img-fluid rounded pb-4 mb-lg-0"style="max-width: 500px;" src="/static/images/trajetoria5.jpg" alt="..." /></div>
</div>

<!--modal-->
<div>
    <!-- Botão para acionar o modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" style="background-color: darkgreen; color:white; width: 150px; margin-left: 45%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        Curiosidade
    </button>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color:darkgreen;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Sempre foi Linkin Park?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                A banda Linkin Park foi formada em 1996, mas inicialmente tinha outro nome: "Xero". Foi somente depois de algumas mudanças na formação e no estilo musical que eles se tornaram o Linkin Park. Essa transição reflete a evolução sonora e criativa que a banda passou ao longo dos anos, desde suas raízes no nu metal até sua exploração de gêneros como o rock alternativo e o eletrônico.
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="background-color: darkgreen; color:white;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Fechar</button>
            </div>
            
        </div>
    </div>
</div>
<br>
{% endblock %}




































